body, select, input, textarea { color: $font-color; }

html { @include force-scrollbar; }

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

ul, ol { margin-left: $list-left-margin; }
ol { list-style-type: decimal; }

td, td img { vertical-align: top; }

sub { @include sub; }

sup { @include sup; }

textarea { overflow: auto; }  // www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars

@include accessible-focus;

@include quoted-pre;

@include align-input-labels;

@include hand-cursor-inputs;

@include webkit-reset-form-elements;

@include webkit-tap-highlight;

@include ie-hacks;

@include no-nav-margins;
